<ion-view title="Books" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="books-heading3" style="color:#000000;" class=" ">Find a book to buy ...</h3>
        <form id="books-form11" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for a book here">
            </label>
            <label class="item item-select " id="books-select2" name="order_by">
                <span class="input-label">Sort:</span>
                <select>
                    <option>Best Match</option>
                    <option>Price: Low to High</option>
                    <option>Price: High to Low</option>
                    <option>Condition</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 36px;"></div>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.bookName">
                <img src="img/tmmTUAETCSAzxtKNyjdc_stats.jpg">
                <h2>Statistics</h2>
                <p>$ 45
                    <br>
                    <br>
                    <b>Owner:</b>Welly</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.bookName">
                <img src="img/mfBdGkRaSsW3cUkJ5WZs_book-financial-accounting.jpg">
                <h2>Financial Accounting</h2>
                <p>$ 85
                    <br>
                    <br>
                    <b>Owner:</b>Rich</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/L1HBfNEbQVqxIUcR5jiU_communication.png">
                <h2>Communications</h2>
                <p>$ 65
                    <br>
                    <br>
                    <b>Owner:</b>Welly</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/k8BG0Yd7Tumouh6xOFIn_stats.jpg">
                <h2>Statistics</h2>
                <p>$ 40
                    <br>
                    <br>
                    <b>Owner:</b>Rich</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/mlvwqllRhKlCIWm5bSSg_book-financial-accounting.jpg">
                <h2>Financial Accounting</h2>
                <p>$ 245
                    <br>
                    <br>
                    <b>Owner:</b>Argentinian</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>