<ion-view title="Book Name" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="bookName-heading7" style="color:#000000;" class=" ">Financial Accounting</h3>
        <div class="">
            <img src="img/v46gLIINTvirUd5ipPmw_book-financial-accounting.jpg" width="60%" height="auto" style="display:block;">
        </div>
        <p id="bookName-markdown4" style="color:#000000;" class=" ">
            <strong>Owner:</strong>Rich
            <strong>Price:</strong>$85</p>
        <form id="bookName-form4" class="list ">
            <ion-item class="range range-positive " id="bookName-range2">Condition
                <input type="range" value="3" min="0" max="10" name="book_condition">
            </ion-item>
        </form>
        <p id="bookName-markdown3" style="color:#000000;" class=" ">This book is brand new and it is in really good conditions, so if I was you I would think twice to message me! ;)</p>
        <div id="bookName-button-bar11" class=" button-bar ">
            <a href="mailto:rich@rich.com" id="bookName-button10" style="color:#EF473A;" class=" button button-assertive  button-icon icon ion-email "></a>
            <a ui-sref="tabsController.message" id="bookName-button12" style="color:#EF473A;" class=" button button-assertive  button-icon icon ion-android-textsms "></a>
        </div>
    </ion-content>
</ion-view>