<ion-view title="Book To Sell Name" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="bookToSellName-heading8" style="color:#000000;" class=" ">Financial Accounting</h3>
        <div class="">
            <img src="img/v46gLIINTvirUd5ipPmw_book-financial-accounting.jpg" width="60%" height="auto" style="display:block;">
        </div>
        <p id="bookToSellName-markdown12" style="color:#000000;" class=" ">
            <strong>Price: $</strong>85</p>
        <form id="bookToSellName-form8" class="list ">
            <ion-item class="range range-positive " id="bookToSellName-range3">Condition
                <input type="range" value="0" min="0" max="10" name="book_condition">
            </ion-item>
        </form>
        <p id="bookToSellName-markdown13" style="color:#000000;" class=" ">
            <strong>Description:</strong>This book is brand new and it is in really good conditions, so if I was you I would think twice to message me! ;)</p>
        <div id="bookToSellName-button-bar16" class=" button-bar ">
            <a ui-sref="sellABook" id="bookToSellName-button40" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Cancel</a>
            <button id="bookToSellName-button44" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Save</button>
        </div>
    </ion-content>
</ion-view>