<ion-view title="Campus" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="campus-heading4" style="color:#000000;text-align:center;" class=" ">Your campus?</h3>
        <div style="margin-right:-20px;">
            <a ui-sref="program" id="campus-button14" style="left:-10px;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-full ">
                <br>
                <br>EDC
                <br>
                <br>
                <br>
            </a>
        </div>
        <div style="margin-right:-20px;">
            <button id="campus-button15" style="left:-10px;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-full ">
                <br>
                <br>NDC
                <br>
                <br>
                <br>
            </button>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.userProfile" id="campus-button28" style="left:-10px;font-weight:600;" class=" button button-assertive  button-full button-clear ">Skip!</a>
        </div>
    </ion-content>
</ion-view>