<ion-view title="Edit Profile" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="editProfile-list16" class=" ">
            <ion-item class="item-thumbnail-left">
                <img src="img/SPa8fcrMTjWJTf1OR5Ef_Rich.jpg">
                <h2>
                    <b>Name:</b>Henrich</h2>
                <p>
                    <b>Campus:</b>EDC
                    <br>
                    <b>Program:</b>BIT
                    <br>
                    <b>Term:</b>1</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <p id="editProfile-markdown6" style="color:#000000;" class=" ">
            <strong>Bio:</strong>Hey my name is Henrich but you can call me Rich! My books are good and cheap! By the way I am
            <strong>RICH</strong>;)</p>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <p id="editProfile-markdown7" style="color:#000000;" class=" ">
            <strong>Email:</strong>rich@henrich.com</p>
        <p id="editProfile-markdown8" style="color:#000000;" class=" ">
            <strong>Password:</strong>
        </p>
        <ion-list id="editProfile-list18" class=" ">
            <ion-item id="editProfile-list-item15" ui-sref="resetPassword" class="  ">************** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &gt;</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 56px;"></div>
        <div id="editProfile-button-bar14" class=" button-bar ">
            <a ui-sref="tabsController.userProfile" id="editProfile-button30" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Cancel</a>
            <a ui-sref="tabsController.userProfile" id="editProfile-button39" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Save</a>
        </div>
    </ion-content>
</ion-view>