<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>APP NAME</h2>
                <p></p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 80px;"></div>
            <ion-list id="login-list4" class=" ">
                <label class="item item-input " id="login-input1" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="login-input2" name="password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 54px;"></div>
            <a ui-sref="campus" id="login-button2" style="font-weight:300;border-radius:0px 0px 0px 0px;" class=" button button-assertive button-large button-block ">LOG IN!</a>
            <div style="margin-right:-20px;">
                <a ui-sref="signup" id="login-button3" style="left:-10px;border-radius:0px 0px 0px 0px;" class=" button button-assertive button-large button-full button-clear ">Or create an account</a>
            </div>
        </form>
    </ion-content>
</ion-view>