<ion-view title="Message" id="page11" style="background-color:#EF473A;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="message-list9" class=" ">
            <ion-item class="item-thumbnail-left">
                <img src="img/JFNv4LY3TnauqP9FhmXT_Rich.jpg">
                <h2>Henrich</h2>
                <p></p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <ion-list id="message-list13" class=" ">
            <ion-item id="message-list-item11" class="  ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sup?!</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="message-list14" class=" ">
            <ion-item id="message-list-item13" class="  ">Hey!</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="message-list15" class=" ">
            <ion-item id="message-list-item14" class="  ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I want to buy your book!</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 96px;"></div>
        <div style="margin-right:-20px;">
            <button id="message-button25" style="left:-10px;text-align:left;border-radius:0px 0px 0px 0px;" class=" button button-light  button-full icon-right ion-android-send ">Where can we meet?</button>
        </div>
    </ion-content>
</ion-view>