<ion-view title="Messages" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="messages-form10" class="list ">
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <ion-item class="item-thumbnail-left">
                <img src="img/gSw4iWBcSLKNWpq7x3Bj_book-financial-accounting.jpg">
                <h2>Welly</h2>
                <p>okay done!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/UBficyZLSmeC4bW4TbB2_accounting_principles.JPG">
                <h2>Veni</h2>
                <p>I'm asking for 45 bucks</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>