<ion-view title="Program" id="page8" class=" ">
    <ion-content padding="false" class="has-header">
        <div class="spacer" style="width: 320px; height: 0px;"></div>
        <h3 id="program-heading5" style="color:#000000;text-align:center;" class=" ">Your program?</h3>
        <div id="program-button-bar4" class=" button-bar ">
            <a ui-sref="term" id="program-button16" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>BIT
                <br>
                <br>
            </a>
            <button id="program-button17" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>IBT
                <br>
                <br>
            </button>
            <button id="program-button18" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>BTM
                <br>
                <br>
            </button>
        </div>
        <div id="program-button-bar5" class=" button-bar ">
            <button id="program-button19" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>DMD
                <br>
                <br>
            </button>
            <button id="program-button20" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>ACC
                <br>
                <br>
            </button>
            <button id="program-button21" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>GD
                <br>
                <br>
            </button>
        </div>
        <div id="program-button-bar6" class=" button-bar ">
            <button id="program-button22" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>BA
                <br>
                <br>
            </button>
            <button id="program-button23" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>IB
                <br>
                <br>
            </button>
            <button id="program-button24" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>TM
                <br>
                <br>
            </button>
        </div>
        <div id="program-button-bar8" class=" button-bar ">
            <a ui-sref="campus" id="program-button29" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-clear ">Back</a>
            <a ui-sref="tabsController.userProfile" id="program-button31" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-clear ">Skip!</a>
        </div>
    </ion-content>
</ion-view>