<ion-view title="Reset Password" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="resetPassword-form6" class="list ">
            <div class="spacer" style="width: 300px; height: 34px;"></div>
            <p id="resetPassword-markdown9" style="color:#000000;" class=" ">
                <strong>Current password:</strong>
            </p>
            <label class="item item-input " id="resetPassword-input7" name="current_password">
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 34px;"></div>
            <p id="resetPassword-markdown10" style="color:#000000;" class=" ">
                <strong>New password:</strong>
            </p>
            <label class="item item-input " id="resetPassword-input8" name="new_password">
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 34px;"></div>
            <p id="resetPassword-markdown11" style="color:#000000;" class=" ">
                <strong>Confirm password:</strong>
            </p>
            <label class="item item-input " id="resetPassword-input9" name="confirm_new_password">
                <input type="password" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <div id="resetPassword-button-bar13" class=" button-bar ">
            <a ui-sref="tabsController.userProfile" id="resetPassword-button11" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Cancel</a>
            <a ui-sref="editProfile" id="resetPassword-button26" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Save</a>
        </div>
    </ion-content>
</ion-view>