<ion-view title="Sell a book" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="sellABook-form7" class="list ">
            <label class="item item-input" name="sell_book_search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search the book you want to sell">
            </label>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
            <ion-item class="item-thumbnail-left" ui-sref="bookToSellName">
                <img src="img/gSw4iWBcSLKNWpq7x3Bj_book-financial-accounting.jpg">
                <h2>Financial Accounting</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="bookToSellName">
                <img src="img/UBficyZLSmeC4bW4TbB2_accounting_principles.JPG">
                <h2>Accounting Principles</h2>
                <p></p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 58px;"></div>
            <a ui-sref="tabsController.userProfile" id="sellABook-button27" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Cancel</a>
        </form>
    </ion-content>
</ion-view>