<ion-view title="Signup" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list ">
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>APP NAME</h2>
                <p></p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 78px;"></div>
            <ion-list id="signup-list5" class=" ">
                <label class="item item-input " id="signup-input3" name="name_signup">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input " id="signup-input4" name="email_signup">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input " id="signup-input5" name="password_signup">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <a ui-sref="campus" id="signup-button4" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive button-large button-block ">Sign up! ;)</a>
        </form>
    </ion-content>
</ion-view>