<ion-view title="Term" id="page9" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <div class="spacer" style="width: 320px; height: 0px;"></div>
        <h3 id="term-heading6" style="color:#000000;text-align:center;" class=" ">Your term?</h3>
        <div id="term-button-bar9" class=" button-bar ">
            <a ui-sref="tabsController.userProfile" id="term-button32" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>1
                <br>
                <br>
            </a>
            <button id="term-button33" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>2
                <br>
                <br>
            </button>
            <button id="term-button34" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>3
                <br>
                <br>
            </button>
        </div>
        <div id="term-button-bar10" class=" button-bar ">
            <button id="term-button35" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>4
                <br>
                <br>
            </button>
            <button id="term-button36" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>5
                <br>
                <br>
            </button>
            <button id="term-button37" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">
                <br>6
                <br>
                <br>
            </button>
        </div>
        <div class="spacer" style="width: 320px; height: 88px;"></div>
        <div id="term-button-bar12" class=" button-bar ">
            <a ui-sref="program" id="term-button41" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-clear ">Back</a>
            <a ui-sref="tabsController.userProfile" id="term-button42" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-clear ">Skip!</a>
        </div>
    </ion-content>
</ion-view>