<ion-view title="User Profile" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="userProfile-list8" class=" ">
            <ion-item class="item-thumbnail-left">
                <img src="img/SPa8fcrMTjWJTf1OR5Ef_Rich.jpg">
                <h2>Henrich</h2>
                <p>EDC
                    <br>BIT - Term 1</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <p id="userProfile-markdown2" style="color:#000000;" class=" ">Hey my name is Henrich but you can call me Rich! My books are good and cheap! By the way I am
            <strong>RICH</strong>;)</p>
        <div id="userProfile-button-bar2" class=" button-bar ">
            <a href="mailto:rich@rich.com" id="userProfile-button8" style="color:#EF473A;border-radius:0px 0px 0px 0px;" class=" button button-light button-small button-icon icon ion-email "></a>
            <a ui-sref="tabsController.message" id="userProfile-button9" style="color:#EF473A;border-radius:0px 0px 0px 0px;" class=" button button-light button-small button-icon icon ion-android-textsms "></a>
        </div>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <h4 id="userProfile-heading2" style="color:#000000;text-align:center;" class=" ">Books I am selling:</h4>
        <ion-list id="userProfile-list10" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.bookName">
                <img src="img/d8zAexvPQvC2ZBQDxaTL_book-financial-accounting.jpg">
                <h2>Financial Accounting</h2>
                <p>$ 85</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/e7TssrTQpaSnBkwTYD7A_stats.jpg">
                <h2>Statistics</h2>
                <p>$ 40</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>